/* dashboard.css */

.custom-dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.custom-card {
    flex: 1;
    margin-right: 10px;
}

.custom-card:last-child {
    margin-right: 0;
}

.chart-container {
    display: flex; /* Use flexbox to align charts side by side */
    justify-content: space-between; /* Space between charts */
    margin-top: 20px; /* Add some margin on top */
    
}

.chart-box {
    flex: 1; /* Allow each chart box to take equal space */
    margin-right: 50px; /* Add some space between the charts */
    margin-left: 50px;
   
}

/* Remove margin from the last chart box */
.chart-box:last-child {
    margin-right: 0; /* No margin on the last chart */
}

/* Set specific height for the charts */
canvas {
    width: 100% !important; 
    height: 60vh !important; 
}
/* Responsive Styles for Smaller Screens */
@media (max-width: 576px) {
    .chart-container {
        flex-direction: column; /* Stacks charts vertically */
        align-items: center;
    }

    .chart-title {
        font-size: 16px; /* Slightly smaller font for better fit */
        font-weight: bold; /* Lighten boldness for balance */
    }

    .chart-box {
        width: 100%; /* Takes full width */
        max-width: 90%; /* Prevents charts from being too wide */
    }
}
